live/terragrunt.hcl
.terragrunt-cache

**/.terraform
**/*.tfvars*
**/*.tfstate*
**/*.tfbackend*

**/backend.tf

**/*.diff
**/*.bak

*.kubeconfig*

**/config.yml
**/config.yaml

!.tfsec/config.yml

# Keep examples
!**/config.yml.example
!live/terragrunt.hcl.example
