live/terragrunt.hcl
.terragrunt-cache

backend.tf
.terraform
*.tfvars*
*.tfstate*

*.diff
*.bak
*.kubeconfig*

config.yml
config.yaml

!.tfsec/config.yml

# Keep examples
!**/config.yml.example
!live/terragrunt.hcl.example
