eks_cluster_name: yourclustername

eks_cluster_version: "1.25"

domain_name: tmp.example.com

aws_region: us-east-1

network_name: your-eks-net-name

kms_key_name: giveanametoyourkmskey

ssh_key_name: giveanametoyoursshkey

eks_admin_role_name: eks-admin

k8s_monitoring_namespace: monitoring

flux_repository_name: k8s-fleet

flux_git_branch: main

flux_github_owner: yourgithubname

chartmuseum_s3_bucket_name: yourbucketname

cluster_endpoint_public_access: true

cluster_endpoint_public_access_cidrs: []

github_app_secret: github-app
